* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #295C4B;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    width: 80%;
    max-width: 1200px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .form-left {
    width: 60%;
    display: flex;
    flex-direction: column;
  }
  
  .form-right {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-right h1 {
    font-size: 36px;
    color: #29A79B;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .form-row input {
    width: 48%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #29A79B;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }
  
  button:hover {
    background-color: #218F85;
  }
  