<body>
<!-- liberar-acesso.component.html -->
<div class="liberar-acesso">
  
  
  <!-- Formulário para inserção de email -->
  <form (ngSubmit)="gotoGerarToken()">
    <div class="acesso-inicial">
      <div class="form-group" *ngIf="exibirFormGroup">
        <label for="email">Informe o email do investidor</label>
        <input
          id="email"
          [(ngModel)]="email"
          name="email"
          type="email"
          placeholder="Digite seu email"
          required
        />
      </div>
      <!-- Botão para gerar o token -->
      <button type="submit" *ngIf="exibirFormGroup">Gerar Token</button>
    </div>  

    <!-- Exibindo o token se disponível -->
    <div class="token-display" *ngIf="token">
      <p>Email : {{ email }}</p>
      <p>Token: </p>
      <span class="token">{{ token }}</span>
      <button (click)="copyToken()">Copiar Token</button>
      <button (click)="goHome()" style="background-color: gray;">Voltar</button>
    </div>
    

  </form>
</div>
<div class="title">
  <h3>RAJEM INVEST</h3>
</div>
</body>
  