<body>
<!-- liberar-acesso.component.html -->
<div class="liberar-acesso">
  
  
  <!-- Formulário para inserção de email -->
  <form (ngSubmit)="gotoGerarToken()">
    <div class="form-group">
      <label for="email">Informe o email do investidor</label>
      <input
        id="email"
        [(ngModel)]="email"
        name="email"
        type="email"
        placeholder="Digite seu email"
        required
      />
    </div>

    <!-- Exibindo o token se disponível -->
    <div class="token-display" *ngIf="token">
      <p>Email : {{ email }}</p>
      <p>Token: {{ token }}</p>
      <button (click)="copyToken()">Copiar Token</button>
    </div>
    
    <!-- Botão para gerar o token -->
    <button type="submit">Gerar Token</button>
  </form>
</div>
<div class="title">
  <h3>RAJEM INVEST</h3>
</div>
</body>
  