<div class="menu">
    <header>
        <h1>RAJEM<br> INVEST</h1>
        <nav>
            <a href='/ativos'>Ativos  </a>
            <a href='/criar-carteira'>  Carteira</a>
          </nav>
            <img src="https://e7.pngegg.com/pngimages/894/403/png-clipart-computer-icons-user-abstract-logo-miscellaneous-desktop-wallpaper.png" alt="usuario">  
            <p>nome usuario</p> 
          
    </header>
</div>
<div class="container">
    <h1>Minhas Carteiras</h1>
    <label for="msg">Não há carteiras criadas</label>
    <br>
    <button>Criar carteira</button>
</div>
