<body>
    <header>
        <div class="nav">
            <div class="logo">RAJEM <span class="invest">INVEST</span></div>
            <nav>
                <a href="#">Ativos</a>
                <a href="#">Carteiras</a>
            </nav>
            <div class="profile">
                <div class="avatar">{{ username ? username.charAt(0).toUpperCase() : 'U' }}</div> <!-- Primeira letra do username -->
                <div class="username">{{ username || 'Nome investidor' }}</div> <!-- Mostra o username ou "Nome investidor" se não disponível -->
            </div>  
        </div>
    </header>
    <main>
        <section class="carteiras">
            <h1>Criar Carteira</h1>
            <div class="carteira-list">
                <ul>
                    <li> 
                        Nome da carteira:
                    </li>
                    <li><input class="inputsPadrao" type="text" id="nomeCarteira" placeholder="Digite aqui o nome da carteira"></li>
                </ul>
            </div> 
            <button class="create-carteira" (click)="criarCarteira()">Adicionar carteira</button>
            <button class="voltar-carteira" (click)="voltarCarteira()">Voltar</button>
        </section>
        
        <section class="tabela-acoes">
            <table>
                <thead>
                    <tr>
                        <th>ID Ação</th>
                        <th>Percentual</th>
                        <th>Cotação Atual</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let linha of linhas; let i = index">
                        <td><input type="text" [(ngModel)]="linha.idAcao"></td>
                        <td><input type="number" [(ngModel)]="linha.percentual"></td>
                        <td><input type="number" [value]="linha.cotacaoAtual" disabled></td>
                        <td>
                            <button class="remover" (click)="removerLinha(i)">Remover</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="buttonTabela" (click)="adicionarLinha()">Adicionar Ação</button>
            <button class="buttonTabela" (click)="consultarCotacoes()">Consultar Cotação</button>
        </section> 
    </main>  
</body>
