<div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <div class="input-container">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username" required />
      </div>
      <div class="input-container">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" required />
      </div>
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
      <button type="submit" [disabled]="loginForm.invalid">Gerar Token</button>
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    </form>
  </div>
  

