<body>
    <header>
        <div class="nav">
            <div class="logo">RAJEM <span class="invest">INVEST</span></div>
            <nav>
                <a href="#">Ativos</a>
                <a href="#">Carteiras</a>
            </nav>
            <div class="profile">
                <div class="avatar">{{ username ? username.charAt(0).toUpperCase() : 'U' }}</div> <!-- Primeira letra do username -->
                <div class="username">{{ username || 'Nome investidor' }}</div> <!-- Mostra o username ou "Nome investidor" se não disponível -->
            </div>  
        </div>
    </header>
    <main>
        <section class="carteiras">
            <h1>Minhas Carteiras</h1>
            <div class="carteira-list">
                <ul>
                    <li *ngFor="let carteira of carteiras" > 
                        {{ carteira.nomeCarteira }}
                    </li>
                </ul>
            </div> 
            <button class="create-carteira" (click)="criarCarteira()">Criar carteira</button>
        </section>
    </main>  
</body>
